/dots/.config/ags/node_modules
/dots/.config/ags/scss/_musicmaterial.scss
/dots/.config/ags/scss/_musicwal.scss
/dots/.config/ags/scss/_material.scss
/diagnose.result
/ii_ags.log
/cache
# Ignore Python cache files
__pycache__/
*.py[cod]
